{% extends 'base.html.twig' %}

{% block title %}Mon compte - Cocorico{% endblock %}

{% block content %}

    <h1>Bienvenue {{app.user.firstname}}</h1>
   -Modifier mon mot de passe<br/>
   -Ajouter mes adresses<br/>
   -Mes commandes<br/>
   
{% endblock %}
