{% extends 'base.html.twig' %}

{% block title %}Mon compte - Cocorico{% endblock %}

{% block content %}

    <h1>Modifier mon mot de passe</h1>
{{form(passwordForm)}}

  -<a href={{path('account')}}>Retour</a><br/>
   
{% endblock %}