{% extends 'base.html.twig' %}

{% block title %}Mon compte - Cocorico{% endblock %}

{% block content %}

  <h1>Modifier mon mot de passe</h1>
  <a href={{path('account')}}>Retour</a><br/>
  <hr>
  {% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
  {% endif %}
  
   
   {{form(passwordForm)}}
{% endblock %}