{% extends 'base.html.twig' %}

{% block content %}
    <h1> Inscription  </h1>
    <!--Crée un formulaire avec la méthode twig/symfony form et injecte le form créer dans SignupController -->
    {{ form(form) }}
{% endblock %}