{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - Cocorico{% endblock %}

{% block content %}

<h1>Passer ma commande</h1>
<p>Choississez vos préférences de livraison avant de passer votre commande</p>
<hr>
<div class="row">
    <div class="col-md-6">
        <b>Récap de ma commande</b>
    </div>
    <div class="col-md-6">
        <b>Choisir mon adresse de livraison</b></br>
        {{ form(orderForm)}}
        <b>Choisir mon transporteur</b></br>
        <b>Bouton paiement</b>
    </div>
</div>
{% endblock %}
